<launch>
	<node pkg="AutoQuad" type="serialComm.py" name="serialComm" output="screen"/>
	<node pkg="AutoQuad" type="px4.py" name="px4" output="screen"/>
	<node pkg="AutoQuad" type="odometry.py" name="odom" output="screen"/>
	<node pkg="AutoQuad" type="control.py" name="control" output="screen"/>
</launch>
